[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
decorator = "==4.4.2"
feedparser = "==5.2.1"
future = "==0.18.2"
idna = "==2.9"
imageio = "==2.8.0"
imageio-ffmpeg = "==0.4.1"
moviepy = "==1.0.2"
oauthlib = "==3.1.0"
proglog = "==0.1.9"
pydub = "==0.23.1"
python-twitter = "==3.5"
requests = "==2.23.0"
requests-oauthlib = "==1.3.0"
tqdm = "==4.45.0"
urllib3 = "==1.25.9"
Pillow = "==7.1.1"
beautifulsoup4 = "*"

[requires]
python_version = "3.6"
